* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
body {
    font-family: 'Courier New', Courier, monospace;
  }
  .container {
    display: flex;
    margin-top: 10px;
    margin-left: 70px;
    margin-right: 70px;
   }
    
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .right {
    display: block;
    position: fixed;
    right: 0;
    
}
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  [class*="col-"] {
    float: left; 
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

 

  /* Style the header */
  .header {
    background: #836953;
    padding: 0px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0;
    color: #fff;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
  }
  h1 h2{
      text-align: center;
  }
   
  /* Style for navbar*/
  div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: white;
  }
  image{
    float:left;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: rgb(58, 58, 58);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(134, 133, 133);
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #8a8a8a;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .icon{
    font-size: 20px;
    color: black;
  }
  /* Style for shopping-cart*/
  .div-cart {
    position: relative;
    width: 20px;
}

.container__docker {
    position: absolute;
    transform: translate(50%, -50%);
    padding: 0px;    
}

.corner {
  background:#800000;
  color: white;
  width:20px;
  height: 20px;
  border-radius: 20px;
  font-size: 13px;
  font-family: Arial;
  /* Center the content */
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Style for Slicebar*/


/* Style for Catalog*/
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }


  .cards {
    display: flex;

    /* Put a card in the next row when previous cards take all width */
    flex-wrap: wrap;

    margin-left: -8px;
    margin-right: -8px;
}

.cards__item {
    /* There will be 4 cards per row */
    flex-basis: 25%;

    padding-left: 8px;
    padding-right: 8px;
}
  footer{
      background-color: #262b2f;
      color: white;
      padding: 100px 70px;
      text-align:center;
  }
  