@import '../../scss/variables';

img {
  width: 98%;
  height: 13rem;
  margin: auto;
}
.content{
  background-color: #ffebee;
  padding: $spacebar 0;
  .slide{
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin: 0 auto 1rem auto;
    .main-slide{
      flex: 60%;
      background-color: #ffebee;
      padding: 15px 15px 15px 0;
      img{
        height: 100%;
      }
    }
    .advertise{
      flex: 40%;
      display: grid;
      position: relative;
      .news{
        display: flex;
        img{
          height: auto;
          height: auto;
          align-items: center;
        }
      }
    }
  }
  .list-products {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    a {
      text-decoration: none;
      color: #262b2f;
    }
    p{
      text-transform: uppercase;
      font-size: calc(#{$app-font-size * 1.5});
      color: $app-bg-color;
      margin: $gap $spacebar 0;
      i{
        color: $app-bg-color;
        margin-right: $gap;
      }
    }
    ul {
      list-style-type: none;
      .sp{
        display: flex;
        li{
          width: 20%;
          margin: $gap auto;
          height: 20rem;
          text-align: justify;
          display: inline-table;
          padding: $gap;
          img{
            width: 98%;
            height: 17rem;
          }
          .contents {
            width: 98%;
            margin: auto;
            margin-top: $gap;
            font-size: $app-font-size;
          }
        }
      }
    }

  }
}